<!DOCTYPE html>
<html>

  <%- include head %>

  <body>

    <div class="container">
      
      <%- include page-header %>
      
      <!-- row content -->
      <div class="row">

        <div class="col-lg-8" id="left-section">

          <div class="row">

            <%
            goods.forEach(g => {
            %>
            
            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="<%= g.img_link %>" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><%= g.name %></h4>
                  <p class="card-text">Rp <%= g.price %></p>
                  <a href="/add-to-cart/<%= g.id %>/<%= g.name %>/<%= g.price %>" class="btn btn-primary">add to cart</a>
                </div>
              </div>
            </div>

            <%
            })
            %>

          </div>

        </div>

        <div class="col-lg-4" id="right-section">

          <h2>Cart (<%= totalInCart %>)</h2> 

          <hr>  
          <%
          let paymentTotal = 0;
          %>
          <ul class="list-group">
            <%
            inCart.forEach(item => {
              paymentTotal += item.price * item.total;
            %>
            <li class="list-group-item" id="item"><span id="item-name"><%= item.name %> (<%= item.total %> x <%= item.price %>)</span><span id="item-total">Rp <%- item.price * item.total %></span></li>
            <%
            })
            %>
            <li class="list-group-item list-group-item-secondary" id="item">
              <span id="total-label" class="text-info">Total </span>
              <span id="total-number" class="text-info">Rp <%- paymentTotal %></span>
            </li>
          </ul>

          <a href="/cancel" onclick="return confirm('Are you going to cancel?')">cancel</a>
          <a href="/checkout" class="btn btn-warning" id="check-out">check out</a>

        </div>
        
      </div>
      <!-- row content end -->
    </div>

  </body>
  
   <%- include script %>

  </html>
